body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

main {
  background: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.background-orange {
  background: #F4A127;
  padding: 20px;
}

.background-green {
  background: #75C8AE;
  padding: 20px;
}

.background-yellow {
  background: #FFECB4;
  padding: 20px;
}

footer {
  background: #FFABFF;
}

.card {
  background: #fff;
  border-radius: 20px; 
}

header {
  position: sticky;
  background: #fff;
}