body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

main {
  background: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  box-shadow: 5px 5px 5px #565656;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

h1 {
  margin: auto;
  font-family: 'Yantramanav', sans-serif;
}

h2 {
  font-family: 'Baloo Paaji 2';
  color: #5A3D2B;
}

img {
 width: 30px;
}

.research {
  background: #FFABFF;
  padding: 15px 20px 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main img {
 width: 100%;
}

p {
margin: 20px;
font-family: 'Yantramanav', sans-serif;
}

.background-orange {
  background: #F4A127;
  padding: 20px;
}

.background-green {
  background: #75C8AE;
  padding: 20px;
}

.background-yellow {
  background: #FFECB4;
  padding: 20px;
}

footer {
  background: #FFABFF;
}

.card {
  background: #fff;
  border-radius: 15px; 
}

header {
  position: sticky;
  background: #fff;
}

input {
  background: #DD7CE0;
  border-radius: 50px;
  width: 150px;
}

a {
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #5A3D2B;
  font-family: 'Baloo Paaji 2';
  color: #5A3D2B;
}

.nav-artiste {
  background: #75C8AE;
}

.nav-expo {
  background: #FFECB4;
}

.nav-vente {
  background: #F4A127;
}

.nav-contact {
  background: #FFABFF;
}

.contenair-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.contenair-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenair-img img {
  width: 150px;
  }
